a { cursor: pointer; }
#blurbs { margin-bottom: 40px; }
#call-to-action p { font-size: 21px; display: inline-block; }

#footer-bottom .container { padding: 26px 0 16px; }
#footer-bottom { padding: 0; }

#top { background-color: white; }